/* DEVICES
@media (max-width: 575px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
*/



/* general spacing
 * --------------------------------------- */
 html {
   position: relative;
   min-height: 100%;
 }

 @media (max-width: 767px) {
   body {
     margin-top: 50px !important;
   }
 }

 @media (max-width: 991px) {
   body {
     margin-top: 11px !important;
   }
 }

 @media (min-width: 992px) {
   body {
     margin-top: -50px !important;
   }
 }

.h-100 {
  height: 100vh !important;
}

/* prevent horizontal overflow on mobile */
  .container-fluid {
    /* overflow-x: hidden!important; */
      max-width: 100% !important;
      overflow-x: hidden !important;
  }

.no-padding {
  padding-left: 0;
  padding-right: 0;
  margin-right: -20px;
  margin-left: 0px;
}

/* .full-width { */
  /* width: 100%;
  height: auto;
  margin: 0; */
/* } */

.bg {
  width: 100%;
  z-index: 0;
}

.bg-blush {
  background-color: rgba(253, 236, 227, .55)
}

.pt-150 {
  padding-top: 150px;
}

.pb-150 {
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  .intro-image {
    margin-top: 50px !important;
  }
}

@media (max-width: 991px) {
  .intro-image {
    margin-top: 11px !important;
  }
}

@media (min-width: 992px) {
  .intro-image {
    margin-top: -50px !important;
  }
}






/* images
 * --------------------------------------- */

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}



@media screen and (max-width: 991px) {
  .image-right {
      left: 0;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0px;
      margin-left: 0px;
  }
}

@media screen and (min-width: 992px) {
  .image-right {
      padding-left: 0;
      padding-right: 0;
      margin-right: -15px;
      margin-left: 0px;
  }
}




/* image overlay */
.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .35);
}

.image-container:hover .image-overlay {
  opacity: 1;
}

@media screen and (max-width: 991px) {
    .image-overlay {
      opacity: 1;
    }
}

@media screen and (min-width: 992px) {
    .image-overlay {
      opacity: 0;
    }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-text {
  text-align: center;
  color: white;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .075em;
  /* padding: .35em .8em .35em 1.1em; */
  /* font-size: 14px; */
}

.image-button {
  color: #FFF;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .1em;
  padding: .35em .8em .35em 1.1em;
  border: 1px solid white;
}

@media (max-width: 767px) {
  .image-text,
  .image-button{
    font-size: 13px !important;
  }
}

@media (min-width: 768px) {
  .image-text,
  .image-button{
    font-size: 13px;
  }
}

.image-button:hover {
  color: black!important;
  background-color: white;
  border: 1px solid white;
  font-style: italic;
  font-weight: 700;
}


/* figures */
/* .figure { */
  /* margin-bottom: 30px; */
/* } */
.figure-caption,
.figure-caption a {
  color: #a2a7aa;
  font-size: 9px;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: .13em;
  /* opacity: 1; */
}


.figure-caption a:hover {
  color: black;
  font-style: italic;
  text-decoration: none;
  /* opacity: .5; */
}


/* .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */



/* Buttons
 * --------------------------------------- */
/* square everthing */
.btn {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
        border-radius: 0 !important;
}

button, .btn, .btn a {
  cursor: pointer;
}

/* remove default blue outline on selected states */
/* button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{ */
    /* outline: !important; */
    /* box-shadow: none !important; */
/* } */


/* action-button */
.action-button,
.action-button a  {
  color: #000 !important;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .25em;
  text-transform: uppercase;
  /* padding: .55em 1em .55em 1.5em; */
  /* border-bottom: 2px solid #800300; */
  /* padding-bottom: 4px; */
}

@media (max-width: 767px) {
  .action-button {
    font-size: 13px !important;
  }
}

@media (min-width: 768px) {
  .action-button {
    font-size: 13px;
  }
}
.action-button:hover,
.action-button a:hover {
  color: #800300 !important;
  font-style:italic;
  /* border-bottom: #800300; */

}



/* button-outline */
.button-underline {
  color: #800300;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .25em;
  text-transform: uppercase;
  /* padding: .55em 1em .55em 1.5em; */
  border-bottom: 2px solid #800300;
  padding-bottom: 4px;
}

@media (max-width: 767px) {
  .button-underline{
    font-size: 13px !important;
  }
}

@media (min-width: 768px) {
  .button-underline{
    font-size: 13px;
  }
}

.button-underline:hover {
  color: #800300;
  border-bottom: 2px solid #800300;
  padding-bottom: 4px;
  font-style: italic;
  text-decoration: none;
}


/* button-outline */
.button-border {
  color: black;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .25em;
  text-transform: uppercase;
  padding: .52em 1.15em .55em 1.5em;
  border: 2px solid black;
  /* padding-bottom: 4px; */
}

@media (max-width: 767px) {
  .button-border{
    font-size: 13px !important;
  }
}

@media (min-width: 768px) {
  .button-border{
    font-size: 13px;
  }
}

.button-border:hover {
  color: #800300;
  border-color: #800300;
  /* border-bottom: 2px solid #800300;
  padding-bottom: 4px; */
  font-style: italic;
  text-decoration: none;
}


/* Type
 * --------------------------------------- */
p {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 15px;
  letter-spacing:.05em;
}

@media (max-width: 991px) {
  p,
  .p-link{
    font-size: 13px;
  }
  .lead,
  .lead-link {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  p,
  .p-link {
    font-size: 14px;
  }
  .lead,
  .lead-link {
    font-size: 16px;
  }
}

@media (min-width: 1100px) {
  p,
  .p-link{
    font-size: 15px;
  }
  .lead,
  .lead-link {
    font-size: 17px;
  }
}


/* lead */
.lead {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: .07em;
}

.lead-link {
  color: black;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
  text-decoration: none;
  letter-spacing: .07em;
  border-bottom: 5px solid #FDECE3;
  /* background-color: #FDECE3; */
  /* margin-bottom: -7px; */
}
.lead-link:active,
.lead-link:hover {
  color: black;
  font-style: italic;
    text-decoration: none;
    border-bottom: 5px solid #FDECE3;
}

/* p-link */
.p-link {
  color: black;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 400;
    line-height: 175%;
  text-decoration: none;
  letter-spacing: .07em;
  border-bottom: 4px solid rgba(253, 239, 227, 1);
  padding-bottom: 0px;
}

.p-link a,
.p-link:hover {
  color: #800300;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  border-bottom: 2px solid #800300;
  padding-bottom: 2px;

}

.quote {
  font-style: italic;
  opacity: .45;
}


.hed6 {
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 160%;
    /* margin-bottom: 1px; */
    letter-spacing:.05em;
}



.font-small {
    font-size: 9px;
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: .1em;
    color: #c3c3c3;
}
.font-small a {
    color: #c3c3c3;
}



/* party party party */
.hed1, .hed2 {
  font-family: "europa",sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .45em;
  line-height: 150%;
  text-transform: uppercase;
}

.hed1-roman {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 150%;
  text-transform: normal;
}

@media (max-width: 991px) {
  .hed1, .hed1-roman {
    font-size: 22px;
  }
  .hed2 {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .hed1, .hed1-roman {
    font-size: 30px;
  }
  .hed2 {
    font-size: 20px;
  }
}

/* party party party */
.hed3 {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 150%;
}

@media (max-width: 991px) {
  .hed3 {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .hed3 {
    font-size: 30px;
  }
}

.faq-question {
  font-weight: 700;
  margin-top: 35px;
  font-size: 17px; 
}
/* fancy */
.r90-neg {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;
}

.r90-pos {
    transform: rotate(90deg);
    transform-origin: right, top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin:right, top;
}



.text-button,
.text-button a {
    color: #000;
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 15px;
    letter-spacing:.05em;
    border-bottom: 3px solid #000;
    padding-bottom: 3px;
    margin-bottom: 15px;
}

.text-button:hover,
.text-button:active {
  color: #000;
  font-style: italic;
  text-decoration: none;
  border-bottom: 3px solid #000;
}





/* rsvp button submit */
.rsvpform .btn-outline-primary,
.dinnerform .btn-outline-primary {
  color: black;
  border: 2px solid black;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .5em;
  text-transform: uppercase;
  line-height: 85%;
  padding: .6em 1em .65em 1.45em;
  font-size: .95rem;
}

.rsvpform .btn-outline-primary:hover,
.rsvpform .btn-outline-primary:active,
.rsvpform .btn-outline-primary:focus,
.dinnerform .btn-outline-primary:hover,
.dinnerform .btn-outline-primary:active, 
.dinnerform .btn-outline-primary:focus, 
.dinnermenu .btn-outline-primary:hover,
.dinnermenu .btn-outline-primary:active, 
.dinnermenu .btn-outline-primary:focus, 
.btn-outline-primary:hover,
.btn-outline-primary:active, 
.btn-outline-primary:focus, 
input.btn.btn-outline-primary:hover, 
input.btn.btn-outline-primary:active, 
input.btn.btn-outline-primary:focus {
  color: white;
  border: 2px solid #800300!important;
  background-color: #800300!important;
  outline: none !important;
}

button, 
.btn {
  outline: none !important;
  box-shadow: none!important;

 }



/* form group */
.form-group {
  font-size: 15px;
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: .035em;
}


.form input,
.form textarea {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .05em;
  /* square everthing */
  border-color: #D0D0D0;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.form textarea {
  opacity: .55;

}

.form-control:focus {
  border-color: #640D0B;
  box-shadow: none;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 3, 0, .8); */
}

.form .control-label,
.form .form-control-label {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: 25px;
  letter-spacing: .05em;
}
/* .form textarea{
  opacity: .5;
} */
@media (max-width: 991px) {
  .form input,
  .form textarea{
    font-size: 13px;
  }
  .form .control-label,
  .form .form-control-label,
  .form .checkbox-control-label,
  .form .radio-control-label {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .form input,
  .form textarea{
    font-size: 15px;
  }
  .form .control-label,
  .form .form-control-label,
  .form .checkbox-control-label,
  .form .radio-control-label {
    font-size: 14px;
  }
}

@media (min-width: 1100px) {
  .form input,
  .form textarea{
    font-size: 15px;
  }
  .form .control-label,
  .form .form-control-label,
  .form .checkbox-control-label,
  .form .radio-control-label {
    font-size: 14px;
  }
}

.dinnerform .control-label {
  margin-top: 25px!important;
}

.form-group {
  margin-bottom: 25px;
}

.conditional {
  margin-top: -30px!important;
}

.conditional.dish {
  color: #640D0B !important;
}
.asteriskField {
  color: #800300;
}

.form small {
  font-family: "europa",sans-serif;
  /* font-style: normal; */
  font-style: italic;

  font-weight: 400;
  letter-spacing: .07em;
  line-height: 150%;
  /* color:  rgba(128, 3, 0, 100) !important; */
  opacity: .55;
}



.dinnerform .radio-control-label {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .05em;
  margin-top: 0;
  /* font-size: ; */
}



/* yes no radio buttons */
.radio-control-label {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */

    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-control-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    margin-top: 4px;
    background-color: #eee;
    border-radius: 50%;
    margin-bottom: 4px;
}

/* On mouse-over, add a grey background color */
.radio-control-label:hover input ~ .radio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-control-label input:checked ~ .radio {
    background-color: #800300;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-control-label input:checked ~ .radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
/* .radio-control-label .radio:after {
 	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
} */




/* city check boxes */
.rsvpform-city .control-label,
.rsvpform-city .form-control-label,
/* city check boxes */
.dinnerform .control-label,
.dinnerform .form-control-label {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
}

.pdx-bring .checkbox-control-label {
  font-family: "europa",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .05em;
  margin-top: 0;
}

.checkbox-control-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 5px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-control-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    margin-top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

.pdx-bring .checkmark {
  margin-top: 2px;
}

/* On mouse-over, add a grey background color */
.checkbox-control-label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-control-label input:checked ~ .checkmark {
    background-color: #800300;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-control-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
/* .checkbox-control-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */


/* .rsvp-form-h {
  font-size: 14px;
  font-family: "lust-script-display",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .01em;
  text-transform: lowercase;
} */

/* textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(253, 239, 227, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(253, 239, 227, 0.9);
  outline: 0 none;
} */
